<div class="container">
    <div class="text">
        <h2>To-Do App<img src="notes.png" alt="Notes Image"></h2>
        <h3>Plan Your Tasks and achieve Maximum Productivity</h3>
    </div>

    <div class="row">
        <input type="text" id="input-box" placeholder="Enter Your Task Here..." [(ngModel)]="task_text" autofocus>
        <button (click)="addTask()">Add Task</button>
    </div>

    <div class="list-container">
        <ul>
            <li class="checked" *ngFor="let task of tasks; index as i" class="task-item"
                (click)="toggleTaskCompletion(i)">
                <img *ngIf="task.completed" src="checked.png" alt="Completed" class="check-icon" />
                <img src="unchecked.png" alt="Unchecked" class="uncheck-icon">
                <span [class.completed]="task.completed">{{ task.text }}</span>
                <img src="delete.gif" alt="Delete" class="delete-icon" (click)="deleteTask(i); $event.stopPropagation()" />
            </li>
        </ul>
    </div>

    <div class="done" *ngIf="tasks.length === 0">
        <img src="todo.png" width="200px">
    </div>

</div> 
